DATABASE_URL=jdbc:postgresql://ride_user:U3mjGp6PjiEBFpSEzWjunDCDeF40joqb@dpg-d8k58257vvec73f49l8g-a.oregon-postgres.render.com/ride_management_db
DATABASE_USERNAME=ride_user
DATABASE_PASSWORD=U3mjGp6PjiEBFpSEzWjunDCDeF40joqb
JWT_SECRET=ride-management-shared-jwt-secret-2026-super-long-value
